<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game Ideas 🎮</title>
    <meta name="description" content="Your own tiny forest 🌳🌳🌳🌳🌳🌳🌳🌳">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Game Ideas just for you
      </h1>
    </header>

    <main>
      <form>
        <button type="button" id="treeButton" onclick="newGame()">Make a new one</button>
      </form>
      
      <section class="result">
        <p id="result"></p>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a> by Joseph Schiarizzi.<a href="https://twitter.com/cupojoseph">Follow me 🐦</a>.
      <br>
      I make cool things. <a href="https://josephSchiarizzi.com">Hire me!</a>
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
